.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
    @mixin hover {
        .carouselControls {
            opacity: 1;
        }
    }
}

.carouselControls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.carouselIndicator {
    background-color: #30e45dc5;
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;
    position: relative;
    top: 17px;
    &[data-active] {
        width: rem(16px);
    }
}