.card {
    background-color: var(--mantine-color-body);
    transition: all .4s;
    &:hover{
        box-shadow: 0px 2px 8px 2px #cccccc69
    }
    padding-top: 0 !important;
}

.excerptTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    font-size: 12.6px;
}

.footer {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
    margin-top: var(--mantine-spacing-md);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}


.articleGrid {
    @media (max-width: $mantine-breakpoint-md) {
        flex-wrap: unset;
        flex-direction: column-reverse;
    }
}

.articleSvg {
    height: 270px;
    width: 100%;
    @media (max-width: 1100px) {
        height: auto;
    }
}