.adsImages {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--mantine-radius-md);

  @mixin smaller-than $mantine-breakpoint-sm {
    height: 280px;
  }
}
